body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 50px;
}

.container {
  background: white;
  max-width: 650px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  margin-top: 50px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background: #fff;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.task-item.selected {
  border: 2px solid #007bff;
  background: #e7f3ff;
}

.task-check {
  margin-right: 10px;
  cursor: pointer;
}

.task-text {
  flex: 1;
}

.task-text.completed {
  text-decoration: line-through;
  color: gray;
}

.task-actions {
  margin-top: 15px;
}

.task-actions button {
  margin: 5px;
}

#deleteTaskBtn {
  background: #dc3545;
}
#editTaskBtn {
  background: #ffc107;
}
#clearCompletedBtn {
  background: #af212f;
}

#clearCompletedBtn:hover {
  background: #8d1420;
}
